*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/*   #############################    Header    #############################    */

header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;

    align-items: center;
    padding: 10px 20px;
    background-color: rgb(26, 26, 26); /* Harmonisation avec l'artiste en cours */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}


.search {
    width: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(47, 88, 59);
    border-radius: 20px;
    padding: 5px 10px;
}

/* Conteneur du formulaire de recherche */
.search-form {
    display: flex;
    align-items: center;
    justify-content: space-between;  /*  le champ et le bouton   */
    width: 100%;
    max-width: 500px;  
    margin: 0 auto;  
}

/* Champ de recherche */
.search-input {
    flex: 1;               /* Prend tout l'espace disponible a gauche */
    padding: 8px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;  
    outline: none;
}

/* Bouton de recherche */
.search-button {
    padding: 8px 15px;     
    margin-left: 14px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;
}
.search button:hover {
    transform: scale(1.1);
}


.search-button i {
    font-size: 1.2rem;  
}

/* Bouton au survol */
.search-button:hover {
    background-color: #45a049;  
}

.icon {
    display: flex;
    gap: 10px;
}

.icon a {
    color: white;
    font-size: 22px;
    transition: transform 0.2s;
}

.icon a:hover {
    transform: scale(1.2);
    color: rgb(76, 223, 122);
}


/* --------------- */

/* Temporaire pour aficher resultat */
 .search-results-container {
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Nombre de résultats */
.search-results {
    font-weight: bold;
    display: block;
    margin-bottom: 8px; 
    margin-left: 10px;
    color: rgb(76, 223, 122);
    font-size: 14px;
}

/* Liste des résultats */
.search-results-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
}


.search-result-item {
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);  
}


.search-result-item:last-child {
    border-bottom: none;
}

/* Titre */
.search-result-item h4 {
    margin: 0;
    font-size: 0.95rem;
    color: #ffd700;  
}

/* Artiste */
.search-result-item p {
    margin: 0;
    font-size: 0.85rem;
    color: #ccc;
}

/* --------------- */

main{
    width: 100%;
}





/*   #############################    Fin Header    #############################    */


/*Bibliothèquee*/

.library{
    width: 10vh;
    height: 72%;
    background-color: rgb(47, 88, 59);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    text-align: center;
    flex-direction: column;
    align-items: center;

    
}

.favoris{
    background-color: rgb(76, 223, 122);
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.favoris a  {
    font-size: 50px;
}

.logo{
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
}

.logo img  {
    width: 50%;
    
    
}
/*Playlist*/

#playlistContainer{
    color: white;
    text-decoration: none;
}

#playlistContainer ul{
    color: white;
    text-decoration: none;
    list-style: none;
}

#playlistContainer ul li a{
    color: white;
    text-decoration: none;
    list-style: none;
}






.error-message{
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}
/*Vidéo*/
/*Playlist selectionner*/
.video-lecture{
    width: 75%;
    height: 72%;
    background-color: rgb(70, 102, 79);
    border-radius: 10px;
    display: flex;

    
}

.video-lecture h2{
    margin: 20px;
}


/*Suggestion*/
.suggestion{
    width: 100px;
    height: 72%;
    background-color: rgb(86, 129, 98);
    border-radius: 10px;
    
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    padding-top: 30px;
}

.artiste-en-cours{
    bottom: 0;
    width: 100%;
    height: 15vh;
    position: fixed;
    background-color: rgb(26, 26, 26);
}

.artiste{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    
}

.artiste img{
    width: 150px;
    border-radius: 15px;
}

.artiste h2{
    font-size: 16px;
    width: 30%;
}

.artiste p{
    font-size: 16px;
    width: 35%;
}
/*Boite modal*/

.add-playlist{
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    background-color: #1e1e1e5f;
    color: white;
    border: none;
    border-radius: 10px;
}

.popUp{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popUp-content{
    background-color: rgb(46, 46, 46);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.popUp input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.popUp button{
    padding: 8px 16px;
    margin: 5px;
}

.playlists .playlist{
    padding: 10px;
    margin: 5px;
    background-color: #f1f1f1;
    border-radius: 5px;
}




/* responsive*/

